<main>
    <nav>
        <a href="/">Home</a>
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
        <a href="/products/create">Create</a>
        <a href="/products/show">Show</a>
    </nav>
</main>