{{!-- <main>
    <h1>Create Page</h1>

    <form method="POST">
        <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <label for="name">Description</label>
          <textarea id="name" name="description"></textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imageUrl">
        
          <input type="submit" value="Create">
    </form>
</main> --}}
<form class="theater-form" method="POST">
    <h1>Create Theater</h1>
    <div>
        <label for="title">Theater Title:</label>
        <input type="text" placeholder="Theater name" name="title" value="">
    </div>
    <div>
        <label for="description">Theater Description:</label>
        <textarea placeholder="Description" name="description"></textarea>
    </div>
    <div>
        <label for="imageUrl">Image url:</label>
        <input type="text" placeholder="Image Url" name="imageUrl" value="">
    </div>
    <div class="check">
        <input type="checkbox" id="check-box" name="checkPublic" >
        <label for="check-box">Public</label>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>