html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
}

#container {
    width: 980px;
    margin: 0 auto;
    background-color: white;
}

nav::after {
    content: '';
    display: table;
    clear: both;
}

nav a {
    float: left;
    display: block;
    background-color: rgb(145, 142, 142);
    margin: 0 4px;
    pad: 4px 8px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgb(221, 170, 170);
}

main {
    padding: 0 32px;
}

.info {
    font-style: italic;
}