/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* .small-container {
  width: 95%;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(0, 0, 0, .51);
  width: 100%;
  height: 100%;
}

.violet-overlay {
  background-color: rgba(189, 140, 191, .51);
  width: 100%;
  height: 100%;
  padding: 70px 0;
}

.white-overlay {
  background-color: rgba(255, 255, 255, .7);
  height: 100%;
  width: 100%;
}

h2 span, h1 span {
  color: #bd8cbf;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

a, button {
  transition: all .5s ease;
}

button {
  padding: 0
}

body {
  font-size: 1.1rem;
} */
