<div class="user">
    <img src="https://snworksceo.imgix.net/dtc/3f23c937-0065-4e17-8daa-46449777caed.sized-1000x1000.jpg?w=1000"
        alt="vote" />
    <div class="user-info">
        <h5>Author: Alex Petkov</h5>
        <small>Rating of votes: -5</small>
    </div>
</div>