<main>
    <nav>
        <div class="left-container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
                <li><a href="/products/create">Add +</a></li>
            </ul>
        </div>
        <div class="right-container">
            <a href="" class="log-out">{{name}}</a>
            <a href="/user/logout" class="log-out">Logout</a>
        </div>
    </nav>
</main>