
<a href="" class="added-hotel">
    <img src="https://image.freepik.com/free-vector/showplace-illustration-with-all-famous-buildings-linear-banner_1416-984.jpg"
        alt="" class="picture-added-hotel">
    <h3>Hotel Berlin</h3>
    <span>Free rooms: 15</span>
</a>