<h1>Register Page</h1>

<form>
    <input type="text" name="name" placeholder="Name">
    <input type="nimber" name="password" placeholder="Password">
    <input type="nimber" name="rePassword" placeholder="Repete Password">
</form>