<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    {{>navigation}}
    {{#if error}}
    <section class="notifications error">
        <p>{{error}}</p>
    </section>
    {{/if}}
    {{{ body }}}
    {{>footer}}
</body>

</html>