<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BookingUni</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
   <div id="container">
        <div>
            <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div>
            {{#if error}}
            <div>
                 <div class="notification errorBox">
                    <span>{{error}}</span>
                </div>
            </div>
               
            {{/if}}
        </div>
    {{>navigation}}
    {{{ body }}}
    {{>footer}}
</body>
</html>