 <div class="">
    <img class=""
        src="{{imageUrl}}">
    <p class=""><span>Name:</span>   {{name}}</p>
    <p><span>Description:</span>   {{description}}</p>
    <a class="btn" href="/products/details/{{_id}}">Details</a>
</div>