
    <h1>Dogs Page!</h1>
    <h2>Hello, {{name}}</h2>
    <form action="/dogs" method="POST">
        <label for="dog-name">Dog name</label>
        <input type="text" id="dog-name" name="dog" />
        <input type="submit" value="create" />
    </form>
    
    <ul>
        {{#each dogs}}
            <li>{{this}}</li>
        {{/each}}
    </ul>