
<main>
     <nav>
            <a href="/">Home</a>
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/products/show">Housing for rent</a></li>
                <!-- Guest users -->
                
                <!-- Logged users -->
                {{#if user}}
                <li><a href="/products/create">Create offer</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="/user/logout">Logout</a></li>
                {{else}}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
                {{/if}}
                
              
            </ul>
        </nav>
</main>