<main>
    {{!-- <nav>
        <a href="/">Home</a>
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
        <a href="/products/create">Create</a>
        <a href="/products/show">Show</a>
        <a href="/user/logout">Logout</a>
    </nav> --}}

    <nav>
        <a>Theater</a>
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/user/logout">Logout</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/register">Register</a></li>
        </ul>
    </nav>
</main>