<main>

    <section id="viewCatalog" class="background-img">
    
        <div class="added-hotels">
    
            {{#each products}}
            {{>product}}
            {{/each}}
    
        </div>
    </section>
</main>