<main>
<div id="container">
        <div>
            <div class="notification loadingBox">
                Loading …
            </div>
            <div class="notification infoBox">
                <span>Info</span>
            </div>
            {{#if error}}
            <div class="notification errorBox">
                <span>{{error.message}}</span>
            </div>
            {{/if}}
        </div>
    <section id="viewCatalog" class="background-img">
    
        <div class="added-hotels">
            {{#if results}}
            {{#each results}}
            {{>product}}
            {{/each}}
            {{else}}
                <div class="guest">
                    There are no Hotels found...
                </div>
            {{/if}}
    
        </div>
    </section>
</main>